[submodule "Diseno_de_interfaces_WEB (DIW)/1_Evaluacion/Tema_03/Practica01"]
	path = Diseno_de_interfaces_WEB (DIW)/1_Evaluacion/Tema_03/Practica01
	url = https://github.com/shengye472/Diw-practicaSASS
[submodule "Despliegue_de_Aplicaciones_WEB (DAW)/1_Evaluacion/Tema_01/pruebas-git"]
	path = Despliegue_de_Aplicaciones_WEB (DAW)/1_Evaluacion/Tema_01/pruebas-git
	url = https://github.com/lueyo31/pruebas-git
[submodule "Despliegue_de_Aplicaciones_WEB (DAW)/1_Evaluacion/Tema_02/class-test"]
	path = Despliegue_de_Aplicaciones_WEB (DAW)/1_Evaluacion/Tema_02/class-test
	url = https://github.com/david13penalver/class-test
[submodule "Despliegue_de_Aplicaciones_WEB (DAW)/2_Evaluacion/Tema_06(Despliegue Automatizado)/Ejercicio_Clase"]
	path = Despliegue_de_Aplicaciones_WEB (DAW)/2_Evaluacion/Tema_06(Despliegue Automatizado)/Ejercicio_Clase
	url = https://github.com/shengye472/Facturas
