<br>
<h3>Listado de Tareas</h3>
<div style="width:75%">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="filters">
                <th>id</th>
                <th>nombre</th>
                <th>estado
                    <select (change)="filtrarTareas($event)">
                        <option value="Todas">Todas</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Realizada">Realizada</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (tarea of tareas; track tarea.id) {

                <!--mostrar en cada fila de la tabla cada tarea -->
                <tr>
                    <td> {{tarea.id}} </td> <!--id tarea -->
                    <td> {{tarea.nombre}} </td> <!--nombre tarea -->
                    <td> {{tarea.estado}} </td> <!--estado tarea -->
                    <td>
                        <!--mostrar o no mostrar el boton Finalizar -->
                        @if (tarea.estado != "Realizada") {
                            <button class="btn btn-danger" (click)="fin(tarea.id)">Finalizar</button>
                        }
                    </td>
                </tr>           
            }
        </tbody>
    </table>

    <h4>Total Pendientes: {{pendiente}} </h4> <!--mostrar total tareas Pendientes -->
    <h4>Total Realizadas: {{realizado}} </h4> <!--mostrar total tareas Realizadas -->
</div>