$maxWidth: 1300;
$forWidth: $maxWidth / 50;
$size-window: map-get($options, "size-window");
$type: map-get(map-get($options, "type"), "a");

.c-table {

    overflow: auto;
    text-align: center;
    display: inline;

    &__head {

        @for $o from 1 through length($size-window) {
            @media (min-width: nth($size-window, $o)) {
                @for $i from 1 through $forWidth {
                    $value: $i * 50;
                    &--min-width-#{$value}\@#{nth($type, $o)} {
                        width: #{$value}px;
                    }
                }
            }
            @media (max-width: nth($size-window, $o)) {
                @for $i from 1 through $forWidth {
                    $value: $i * 50;
                    &--max-width-#{$value}\@#{nth($type, $o)} {
                        width: #{$value}px;
                    }
                }
            }
        }

    }
}
