$neutral: (
    "50": #fafafa,
    "100": #f5f5f5,
    "200": #e5e5e5,
    "300": #d4d4d4,
    "400": #a3a3a3,
    "500": #737373,
    "600": #525252,
    "700": #404040,
    "800": #262626,
    "900": #171717,
    "950": #0a0a0a
);

$red: (
    "50": #fef2f2,
    "100": #fee2e2,
    "200": #fecaca,
    "300": #fca5a5,
    "400": #f87171,
    "500": #ef4444,
    "600": #dc2626,
    "700": #b91c1c,
    "800": #991b1b,
    "900": #7f1d1d,
    "950": #450a0a
);

$yellow: (
    "50": #fefce8,
    "100": #fef9c3,
    "200": #fef08a,
    "300": #fde047,
    "400": #facc15,
    "500": #eab308,
    "600": #ca8a04,
    "700": #a16207,
    "800": #854d0e,
    "900": #713f12,
    "950": #422006
);

$lime: (
    "50": #f7fee7,
    "100": #ecfccb,
    "200": #d9f99d,
    "300": #bef264,
    "400": #a3e635,
    "500": #84cc16,
    "600": #65a30d,
    "700": #4d7c0f,
    "800": #3f6212,
    "900": #365314,
    "950": #1a2e05
);

$border-radius:(
    "0": 0px,
    "2" : 2px,
    "4" : 4px,
    "6" : 6px,
    "8" : 8px,
    "10" : 10px,
    "12" : 12px,
);

$padding: (
    "2": 2px,
    "4": 4px,
    "6": 6px,
    "8": 8px,
    "10": 10px,
    "12": 12px,
    "14": 14px,
    "16": 16px,
    "18": 18px,
    "20": 20px
);

$font-size:(
    "8": 8px,
    "10": 10px,
    "12": 12px,
    "14": 14px,
    "16": 16px,
    "18": 18px,
    "20": 20px
);